.create-post {
  // height: 120px;
  // background-color: aqua;
  padding: 20px 10px;
  display: flex;

  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
  }

  .form {
    margin-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .text-input {
      font-size: 20px;
      width: 100%;

      &::placeholder {
        color: grey;
      }
    }

    .error {
      display: flex;
      align-items: center;
      margin-top: 10px;

      .error-label {
        font-size: 12px;
        color: red;
        margin-left: 4px;
      }
    }

    .ripple-btn {
      margin-top: 30px;
      align-self: flex-end;
    }
  }
}
