@import "../../constants/colors.scss";

.create-tweet {
  padding: 20px 10px;
  display: flex;
  border-bottom: 1px solid $lightgrey;

  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .form {
    margin-left: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;

    .textarea {
      font-size: 20px;
      width: 100%;
      min-height: 80px;
      // background-color: yellow;
      resize: none;
      overflow: auto;
      color: #ffffff;

      &::placeholder {
        color: $grey;
      }
    }

    .ripple-btn {
      margin-top: 30px;
      align-self: flex-end;
    }
  }
}
