@import "../../constants/colors.scss";

.create-tweet {
  padding: 20px 10px;
  display: flex;
  border-bottom: 1px solid $lightgrey;

  @media (max-width: 600px) {
    display: none;
  }

  .profile-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
  }

  .form {
    margin-left: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;

    .create-tweet-textarea {
      font-size: 18px;
      resize: none;
      max-height: 60vh;

      &::placeholder {
        color: $grey;
      }
    }

    .ripple-btn {
      margin-top: 30px;
      height: 40px;
      border-radius: 20px;
      align-self: flex-end;
    }
  }
}

.create-tweet-modal {
  padding: 0 10px;

  .create-tweet {
    padding: 10px;

    @media (max-width: 600px) {
      display: flex;
    }

    .create-tweet-textarea {
      min-height: 100px;
    }
  }
}
