@import "../../constants/colors.scss";

.create-tweet {
  padding: 10px;
  padding-bottom: 0;
  display: flex;
  border-bottom: 1px solid $lightgrey;

  @media (max-width: 600px) {
    display: none;
  }

  .form {
    margin-left: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;

    .create-tweet-textarea {
      font-size: 18px;
    }

    .upload-image {
      width: 100%;
      height: 220px;
      margin-top: 20px;
      position: relative;
      align-self: center;
      padding-top: 30px;

      img {
        transition: opacity 0.3s ease-in-out;
      }

      .delete-image {
        position: absolute;
        top: 10px;
        background-color: black;
        width: 30px;
        height: 30px;
      }
    }

    .options {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 0;
      margin-top: 20px;
      border-top: 2px solid $lightgrey;

      .ripple-btn {
        height: 35px;
        width: 70px;
        border-radius: 17px;
      }

      .upload-image-icon {
        label {
          cursor: pointer;
        }
      }
    }
  }
}

.create-tweet-modal {
  padding: 0 10px;

  .create-tweet {
    padding: 10px;

    @media (max-width: 600px) {
      display: flex;
    }

    .create-tweet-textarea {
      min-height: 100px;
    }
  }
}
