@import "../../constants/colors.scss";

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 100%;
  background-color: rgba($color: #15202b, $alpha: 0.7);
  display: grid;
  place-items: center;

  .modal-content {
    width: clamp(340px, 60%, 650px);
    background-color: #15202b;
    border-radius: 10px;

    @media (max-width: 720px) {
      width: 75%;
    }

    @media (max-width: 600px) {
      width: 95%;
    }

    .modal-header {
      height: 50px;
      border-bottom: 1px solid $lightgrey;
      padding-left: 15px;
      display: flex;
      align-items: center;
    }
  }
}
