@import "../../constants/colors.scss";

.explore-page {
  padding-top: 20px;

  .search-input-container {
    margin: 0 auto;
  }

  .explore-page-title {
    padding: 15px;
    border-top: 1px solid $lightgrey;
    border-bottom: 1px solid $lightgrey;
    margin-top: 20px;

    p {
      font-size: 20px;
      color: #ffffff;
      font-weight: 700;
    }
  }

  button {
    display: block;
    text-align: left;
    width: 100%;
    transition: background 0.3s ease-in-out;

    &:hover {
      background-color: $lighterpurple;
    }
  }

  .trend {
    padding: 15px;
    border-bottom: 1px solid $lightgrey;

    .hashtag {
      font-size: 14px;
      color: #ffffff;
      font-weight: 600;
    }

    .number-of-tweets {
      font-size: 12px;
      color: #ffffff;
      margin-top: 10px;
      color: $grey;
    }
  }
}
