.home {
  display: flex;
  padding: 40px 20px;

  .profile {
    width: 35vw;
    // background-color: aqua;
    display: flex;
    flex-direction: column;

    .image {
      width: 150px;
      height: 150px;
      background-color: cadetblue;
      margin-top: -115px;
      border-radius: 10px;
      align-self: center;
    }

    .content {
      padding: 30px;

      p {
        margin-bottom: 5px;
      }

      .fullname {
        font-size: 26px;
        margin-bottom: 0px;
      }

      .username {
        font-size: 14px;
        color: grey;
      }

      .bio {
        font-size: 18px;
      }

      .location {
        font-size: 14px;
        color: grey;
      }
    }
  }

  .posts {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;

    .card {
      background-color: white;
      padding: 20px;
      margin-bottom: 20px;
    }
  }
}
