@import "../../constants/colors.scss";

.trends {
  width: 90%;
  background-color: $purple;
  margin-top: 20px;
  border-radius: 15px;

  .top-section {
    padding: 15px;
    border-bottom: 1px solid $lightgrey;

    p {
      font-size: 20px;
      color: #ffffff;
      font-weight: 700;
    }
  }

  button {
    display: block;
    text-align: left;
    width: 100%;
  }

  .trend {
    padding: 15px;
    border-bottom: 1px solid $lightgrey;
    transition: background 0.3s ease-in-out;

    &:hover {
      background-color: #253341;
    }

    .hashtag {
      font-size: 14px;
      color: #ffffff;
      font-weight: 600;
    }

    .number-of-tweets {
      font-size: 12px;
      color: #ffffff;
      margin-top: 10px;
      color: $grey;
    }
  }

  .show-more {
    color: $blue;
    font-weight: 600;
    font-size: 16px;
    padding: 15px;
    transition: background 0.3s ease-in-out;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    &:hover {
      background-color: #253341;
    }
  }
}
