@import "../../constants/colors.scss";

.user-card-container {
  padding: 10px 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid $lightgrey;
  transition: background 0.3s ease-in-out;
  display: flex;

  &:hover {
    background-color: $lighterpurple;
    cursor: pointer;
  }

  .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rebeccapurple;
  }

  .user-card-content {
    flex: 1;
    padding-left: 10px;

    .transparent-btn {
      margin: auto 0;
    }

    .ripple-btn {
      margin: auto 0;
    }

    .user-card-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;

      .fullname {
        font-weight: 700;
      }

      .username {
        font-size: 14px;
        color: $grey;

        .follows-you {
          font-size: 12px;
          background-color: $lightgrey;
          color: $grey;
          border-radius: 3px;
          padding: 0px 3px;
        }
      }
    }
  }
}
