@import "../../constants/colors.scss";

.create-comment {
  .profile-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 2px;
  }

  .comment-content {
    padding: 10px;

    .tweet {
      display: flex;

      .tweet-details {
        margin-left: 15px;

        p {
          font-size: 14px;
        }

        .user-details {
          display: flex;
          align-items: center;

          .fullname {
            font-weight: 600;
            margin-right: 5px;
          }

          .username {
            color: $grey;
          }
        }

        .replying-to {
          color: $grey;
          margin-top: 15px;

          span {
            color: $blue;
            cursor: default;
            text-decoration: none;
          }
        }
      }
    }

    .reply {
      display: flex;
      margin-top: 15px;

      .comment-input {
        margin-left: 15px;
        flex: 1;

        .textarea {
          font-size: 16px;
          width: 100%;
          resize: none;
          min-height: 100px;
          margin-top: 10px;

          &::placeholder {
            color: $grey;
          }
        }

        .ripple-btn {
          margin: 10px;
          float: right;
          height: 40px;
          border-radius: 20px;
        }
      }
    }
  }
}
