.landing-page {
  display: flex;
  height: 100vh;

  .left-container {
    flex: 1;
    background-color: #71c9f8;
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;

    svg {
      margin-top: -350px;
      margin-left: -250px;
    }

    .content {
      position: absolute;
      height: 100%;
      width: 100%;
      display: grid;
      place-items: center;

      .wrapper {
        .item {
          display: flex;
          align-items: center;
          margin-bottom: 40px;

          svg {
            margin: 0;
          }

          .label {
            margin-left: 10px;
            font-size: 18px;
            font-weight: 600;
          }
        }
      }
    }
  }

  .right-container {
    flex: 1;
    display: grid;
    place-items: center;

    .wrapper {
      width: 60%;
      // background-color: red;

      .main-title {
        font-size: 26px;
        font-weight: 700;
        margin-top: 15px;
      }

      .sub-title {
        font-size: 16px;
        font-weight: 600;
        margin-top: 30px;
        margin-bottom: 10px;
      }

      button {
        width: 100%;
        height: 40px;
        border-radius: 20px;
        margin: 5px 0;
      }
    }
  }
}
