.card {
  background-color: white;
  padding: 10px 20px;
  padding-bottom: 0;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  .card-header {
    height: 50px;
    display: flex;

    .image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rebeccapurple;
    }

    .profile-details {
      margin-left: 10px;

      .fullname {
        font-size: 14px;
        font-weight: 600;
      }

      .row {
        display: flex;
        align-items: center;
        margin-top: 3px;

        .username {
          font-size: 12px;
          color: grey;
        }

        .dot {
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: grey;
          margin: 0 5px;
        }
      }
    }
  }

  .content {
    cursor: pointer;
    width: fit-content;
  }

  .icons {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: flex-end;

    .icon {
      margin-left: 30px;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }
}
