@import "../../constants/colors.scss";

.card {
  padding: 10px 20px;
  padding-bottom: 0;
  border-bottom: 1px solid $lightgrey;

  .card-header {
    height: 50px;
    display: flex;
    width: 100%;

    .image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rebeccapurple;
    }

    .profile-details {
      margin-left: 10px;

      .fullname {
        font-size: 14px;
        font-weight: 600;
      }

      .row {
        display: flex;
        align-items: center;
        margin-top: 3px;

        .username {
          font-size: 12px;
          color: grey;
        }

        .dot {
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: grey;
          margin: 0 5px;
        }
      }
    }

    .view-tweet {
      margin: 15px 10px 0 auto;
    }
  }

  .content {
    display: inline;

    .link {
      color: $blue;
    }
  }

  .icons {
    display: flex;
    align-items: center;
    padding: 5px 0;
    justify-content: flex-end;
    z-index: 2;

    .icon {
      margin-left: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      transition: 0.3s ease-in-out background;

      &:hover {
        background-color: rgb(172, 238, 218);
      }

      .count {
        font-size: 12px;
        font-weight: 600;
        margin-left: 3px;
        color: $grey;
      }
    }
  }
}
