@import "../../constants/colors.scss";

.tweet-card-container {
  padding: 5px 20px 10px 20px;
  padding-bottom: 0;
  border-bottom: 1px solid $lightgrey;
  transition: background 0.3s ease-in-out;

  &:hover {
    background-color: $lighterpurple;
    cursor: pointer;
  }

  .type {
    display: flex;
    align-items: center;
    padding-left: 35px;
    padding-bottom: 5px;

    p {
      font-size: 12px;
      color: $grey;
      margin-left: 10px;
    }
  }

  .tweet-card {
    flex: 1;
    display: flex;

    .profile-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-top: 10px;
    }

    .tweet-card-content {
      flex: 1;
      padding-left: 10px;

      .replying-to {
        margin-top: -10px;
        margin-bottom: 10px;
      }

      .parsed-text {
        margin-top: -5px;
      }

      .tweet-card-header {
        display: flex;
        width: 100%;
        // background-color: red;

        .user-details {
          display: flex;
          align-items: center;
          font-size: 14px;

          .fullname {
            font-weight: 700;
            color: #ffffff;
            margin-right: 5px;
          }

          .username {
            color: $grey;
          }
        }

        .icon-wrapper {
          margin-left: auto;
        }
      }
    }
  }
}
