@import "../../constants/colors.scss";

.card-container {
  padding: 10px 20px;
  padding-bottom: 0;
  border-bottom: 1px solid $lightgrey;
  transition: background 0.3s ease-in-out;

  &:hover {
    background-color: $lighterpurple;
    cursor: pointer;
  }

  .ssss {
    color: yellow;
  }

  .retweeted {
    display: flex;
    align-items: center;
    padding-left: 35px;
    padding-bottom: 5px;

    p {
      font-size: 12px;
      color: $grey;
      margin-left: 10px;
    }
  }

  .card {
    flex: 1;
    display: flex;

    .profile-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: rebeccapurple;
    }

    .card-content {
      flex: 1;
      padding-left: 10px;

      .card-header {
        display: flex;
        width: 100%;
        .user-details {
          display: flex;
          font-size: 14px;

          .fullname {
            font-weight: 600;
            color: #ffffff;
            margin-right: 5px;
          }

          .username {
            color: $grey;
          }

          .dot {
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: $grey;
            margin: auto 5px;
          }
        }

        .view-tweet {
          margin-left: auto;
        }
      }

      .content {
        display: inline;

        .link {
          color: $blue;
        }
      }
    }
  }
}
