@import "../../constants/colors.scss";

.search-tab {
  flex: 1.5;
  padding-top: 40px;
  overflow: hidden;

  .search-tab-content {
    position: fixed;
    width: 28%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .search-input-container {
      display: flex;
      align-items: center;
      width: 90%;
      height: 45px;
      background-color: #253341;
      border-radius: 22.5px;
      padding: 0 20px;

      input {
        width: 100%;
        margin-left: 10px;
        font-size: 16px;

        &::placeholder {
          color: $grey;
        }
      }
    }
  }
}
