@import "../../constants/colors.scss";

.edit-details {
  .modal-header {
    .edit-details-title {
      flex: 1;
      padding-left: 10px;
      font-weight: 700;
      font-size: 18px;
    }

    .ripple-btn {
      height: 30px;
      border-radius: 15px;
      margin-right: 10px;
    }
  }

  .edit-details-form {
    padding: 15px;

    // .form-group {
    //   margin-bottom: 50px;

    //   .form-input {
    //     background-color: $purple;
    //     padding: 0 10px;
    //     border-bottom: 2px solid $grey;

    //     label {
    //       display: block;
    //       color: $grey;
    //       font-size: 14px;
    //     }

    //     input {
    //       margin-bottom: 5px;
    //       font-size: 18px;
    //       width: 100%;
    //     }

    //     textarea {
    //       margin-bottom: 5px;
    //       font-size: 18px;
    //       // background-color: red;
    //       width: 100%;
    //       height: 100px;
    //       resize: none;
    //     }
    //   }

    //   .count {
    //     float: right;
    //     color: $grey;
    //     margin-right: 10px;
    //     font-size: 14px;
    //   }
    // }
  }
}
