@import "../../constants/colors.scss";

.edit-details {
  .modal-header {
    .edit-details-title {
      flex: 1;
      padding-left: 10px;
      font-weight: 700;
      font-size: 18px;
    }

    .ripple-btn {
      height: 30px;
      border-radius: 15px;
      margin-right: 10px;
    }
  }

  .edit-details-form {
    padding: 15px;
  }
}
