@import "../../constants/colors.scss";

.layout {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  .content-container {
    flex: 2;
    // padding: 40px 0px;
    border-right: 1px solid $lightgrey;
    border-left: 1px solid $lightgrey;
    min-height: 100vh;
  }
}
