@import "./constants/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}

html {
  font-size: 16px;
}

body {
  background-color: #15202b;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  border: none;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

.loading-screen {
  height: 100%;
  display: grid;
  place-items: center;
}

.tabs {
  height: 60px;
  display: flex;
  width: 100%;

  .tab {
    flex: 1;
    display: grid;
    place-items: center;
    border-bottom: 1px solid $grey;
    font-size: 16px;
    font-weight: 600;
    color: $grey;
    text-transform: capitalize;
  }

  .active {
    border-bottom: 2px solid $blue;
    color: $blue;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;

  .form-title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }

  form {
    .group {
      margin: 20px 0;
      display: flex;

      label {
        margin-right: 15px;
        width: 80px;
        font-size: 14px;
        margin-top: 10px;
        text-align: center;
      }

      .input {
        .error {
          display: flex;
          align-items: center;
          margin-top: 5px;

          .error-label {
            font-size: 12px;
            color: #b00020;
            margin-top: 2px;
            margin-left: 4px;
          }
        }

        input {
          height: 40px;
          width: 300px;
          padding: 0 10px;
          border-radius: 5px;
          border: 1px solid #adadbb;
          font-size: 16px;
          transition: 0.3s ease-in-out border-color;

          &:hover {
            border: 1px solid #1675e0;
          }

          &:focus {
            outline: none;
            border: 1px solid #1675e0;
          }
        }

        textarea {
          height: 130px;
          width: 300px;
          padding: 10px;
          border-radius: 5px;
          font-size: 16px;
          border: 1px solid #adadbb;
          transition: 0.3s ease-in-out border-color;
          resize: none;

          &:hover {
            border: 1px solid #1675e0;
          }

          &:focus {
            outline: none;
            border: 1px solid #1675e0;
          }
        }
      }
    }

    .bottom-section {
      display: flex;
      flex-direction: column;
      align-items: center;

      .ripple-btn {
        width: 100px;
      }

      p {
        margin-top: 20px;
        font-size: 14px;

        a {
          color: #3498ff;
        }
      }
    }
  }
}

.ripple-btn {
  background-position: center;
  transition: background 0.8s;
  width: 90px;
  padding-bottom: 2px;
  height: 30px;
  border-radius: 15px;
  background-color: $blue;
  color: white;
  font-size: 14px;
  font-weight: 600;

  &:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%)
      center / 15000%;
  }

  &:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }

  &:disabled {
    opacity: 0.5;

    &:hover {
      cursor: default;
      background-color: #2196f3;
    }
  }
}

.transparent-btn {
  background-color: transparent;
  border: 2px solid $blue;
  width: 90px;
  padding-bottom: 2px;
  height: 30px;
  border-radius: 15px;
  color: $blue;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s background ease-in-out;

  &:hover {
    background-color: $lightpurple;
  }

  &:active {
    background-color: $purple;
  }
}

.tweet-actions {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 2px;
  margin-left: -10px;
  justify-content: space-between;

  .icon-container {
    flex: 1;

    &:first-of-type {
      .icon {
        &:hover {
          .svg {
            background-color: rgba(29, 161, 243, 0.1);

            svg {
              fill: $blue;
            }
          }

          .count {
            color: $blue;
          }
        }
      }
    }

    &:nth-of-type(2) {
      .icon {
        &:hover {
          .svg {
            background-color: rgba(22, 186, 97, 0.1);

            svg {
              fill: rgb(22, 186, 97);
            }
          }

          .count {
            color: rgb(22, 186, 97);
          }
        }
      }
    }

    &:nth-of-type(3) {
      .icon {
        &:hover {
          .svg {
            background-color: rgba(197, 36, 88, 0.15);

            svg {
              fill: rgb(197, 36, 88);
            }
          }

          .count {
            color: rgb(197, 36, 88);
          }
        }
      }
    }

    &:last-of-type {
      .icon {
        &:hover {
          .svg {
            background-color: rgba(29, 161, 243, 0.1);

            svg {
              fill: $blue;
            }
          }
        }
      }
    }

    .icon {
      display: flex;
      align-items: center;

      .svg {
        display: grid;
        place-items: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        transition: 0.3s ease-in-out background;

        svg {
          fill: $grey;
        }
      }

      .count {
        font-size: 12px;
        font-weight: 600;
        margin-left: 3px;
        color: $grey;
        transition: 0.3s ease-in-out background;
      }
    }
  }
}

.back-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.3s ease-in-out background;

  &:hover {
    background-color: $lightpurple;
  }
}
