* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: white;
  font-family: "Open Sans", sans-serif !important;
}

p {
  color: #121212;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  form {
    margin-top: 100px;
    .group {
      margin: 20px 0;
      display: flex;

      label {
        margin-right: 15px;
        width: 80px;
        font-size: 14px;
        margin-top: 10px;
        text-align: center;
      }

      .input {
        .error-label {
          font-size: 12px;
          color: red;
          margin-top: 4px;
        }

        input {
          height: 40px;
          width: 300px;
          padding: 0 10px;
          border-radius: 5px;
          border: 1px solid #adadbb;
          transition: 0.3s ease-in-out border-color;

          &:hover {
            border: 1px solid #1675e0;
          }

          &:focus {
            outline: none;
            border: 1px solid #1675e0;
          }
        }
      }
    }

    .bottom-section {
      display: flex;
      flex-direction: column;
      align-items: center;

      .submit {
        padding: 10px 30px;
        border-radius: 5px;
        background-color: #3498ff;
        color: white;
        align-self: center;
      }

      /* Ripple effect */
      .ripple {
        background-position: center;
        transition: background 0.8s;
        align-self: center;
      }
      .ripple:hover {
        background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%)
          center/15000%;
      }
      .ripple:active {
        background-color: #6eb9f7;
        background-size: 100%;
        transition: background 0s;
      }

      /* Button style */
      button {
        border: none;
        border-radius: 2px;
        padding: 12px 18px;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
        color: white;
        background-color: #2196f3;
        box-shadow: 0 0 4px #999;
        outline: none;
      }

      p {
        margin-top: 20px;
        font-size: 14px;

        a {
          color: #3498ff;
        }
      }
    }
  }
}
