@import "../../constants/colors.scss";

.create-retweet {
  .profile-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 2px;
  }

  .retweet-content {
    padding: 10px;

    .reply {
      display: flex;

      .original-tweet-card {
        &:hover {
          cursor: default;
          background-color: $deeppurple;
        }
      }

      .retweet-input {
        margin-left: 15px;
        flex: 1;

        .textarea {
          font-size: 16px;
          width: 100%;
          min-height: 70px;
          max-height: 200px;
          resize: vertical;
          overflow: auto;
          margin-top: 10px;

          &::placeholder {
            color: $grey;
          }
        }

        .ripple-btn {
          margin: 10px;
          float: right;
          height: 40px;
          border-radius: 20px;
        }
      }
    }
  }
}
