@import "../../constants/colors.scss";

.create-retweet {
  .profile-image {
    margin-top: 2px;
  }

  .retweet-content {
    padding: 10px;

    .reply {
      display: flex;

      .original-tweet-card {
        &:hover {
          cursor: default;
          background-color: $deeppurple;
        }
      }

      .retweet-input {
        margin-left: 15px;
        flex: 1;

        .create-retweet-textarea {
          margin-top: 10px;
        }

        .ripple-btn {
          margin: 10px;
          float: right;
          height: 40px;
          border-radius: 20px;
        }
      }
    }
  }
}
