@import "../../constants/colors.scss";

.user-page {
  .profile {
    padding: 20px 20px;

    .top-section {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .profile-image {
        width: 120px;
        height: 120px;
        border-radius: 60px;
        background-color: aqua;
      }

      .transparent-btn {
        height: 40px;
        width: 110px;
        border-radius: 20px;
      }
    }

    .profile-details {
      padding-top: 10px;

      .fullname {
        font-size: 18px;
        font-weight: 600;
      }

      .username {
        font-size: 14px;
        color: $grey;
      }

      .bio {
        margin-top: 5px;
        .link {
          color: $blue;
        }
      }

      .links {
        display: flex;
        padding-top: 10px;

        .row {
          display: flex;
          align-items: center;

          p {
            font-size: 14px;
            color: $grey;
          }

          &:first-of-type {
            margin-right: 20px;
          }

          svg {
            margin-right: 5px;
          }
        }
      }

      .bottom-section {
        display: flex;
        padding-top: 10px;

        .follow-text {
          color: $grey;

          span {
            color: #ffffff;
            font-weight: 600;
          }

          &:first-of-type {
            margin-right: 20px;
          }
        }
      }
    }
  }
}

.no-user {
  padding: 100px 0;
  text-align: center;

  p {
    font-size: 18px;
    font-weight: 600;
  }
}

.followers-page {
  .tabs {
    .tab {
      cursor: default;
    }
  }
  .stack-header {
    border-bottom: none;
  }
}
