@import "../../constants/colors.scss";

.user-page {
  .profile {
    // padding: 20px 20px;

    .header-image {
      width: 100%;
      height: 15vw;
      object-fit: cover;
      cursor: pointer;
    }

    .profile-details {
      padding: 0 20px 20px 20px;
      // background-color: blue;

      .top-section {
        display: flex;
        justify-content: space-between;
        // background-color: red;

        .profile-image-container {
          width: 130px;
          height: 130px;
          display: grid;
          place-items: center;
          background-color: $deeppurple;
          border-radius: 50%;
          margin-top: -60px;

          .profile-image {
            width: 93%;
            height: 93%;
            cursor: pointer;
          }
        }

        button {
          height: 40px;
          width: 110px;
          border-radius: 20px;
          margin-top: 5px;
        }
      }

      .fullname {
        font-size: 18px;
        font-weight: 600;
      }

      .username {
        font-size: 14px;
        color: $grey;
      }

      .parsed-text {
        margin-top: 5px;
      }

      .links {
        display: flex;
        padding-top: 10px;

        .row {
          display: flex;
          align-items: center;

          p {
            font-size: 14px;
            color: $grey;
          }

          &:first-of-type {
            margin-right: 20px;
          }

          svg {
            margin-right: 5px;
          }
        }
      }

      .bottom-section {
        display: flex;
        padding-top: 10px;

        .follow-text {
          color: $grey;

          span {
            color: #ffffff;
            font-weight: 600;
          }

          &:first-of-type {
            margin-right: 20px;
          }
        }
      }
    }
  }
}

.no-user {
  padding: 100px 0;
  text-align: center;

  p {
    font-size: 18px;
    font-weight: 600;
  }
}

.followers-page {
  .tabs {
    .tab {
      cursor: default;
    }
  }
  .stack-header {
    border-bottom: none;
  }
}
