.profile {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 10px;

  .profile-content {
    position: fixed;
    width: 19%;

    .image {
      width: 150px;
      height: 150px;
      background-color: cadetblue;
      border-radius: 10px;
    }

    .content {
      padding-top: 30px;

      p {
        margin-bottom: 0px;
      }

      .fullname {
        font-size: 24px;
        margin-bottom: 0px !important;
      }

      .username {
        font-size: 12px;
        color: grey;
        margin-top: -5px;
      }

      .bio {
        font-size: 16px;
      }

      .location {
        font-size: 12px;
        color: grey;
      }
    }
  }
}
