@import "../../constants/colors.scss";

.side-menu {
  flex: 1;

  @media (max-width: 1230px) {
    flex: 0.4;
  }

  @media (max-width: 500px) {
    display: none;
    background-color: red;
  }

  .side-menu-content {
    position: fixed;
    width: 22%;
    height: 100vh;
    padding: 20px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // background-color: yellow;

    @media (max-width: 1230px) {
      align-items: center;
      width: 10%;

      .logo {
        margin: 10px 0;
      }

      .links {
        display: flex;
        flex-direction: column;

        .link {
          padding: 0px !important;
          p {
            display: none;
          }
        }
      }

      .ripple-btn {
        display: none;
      }
    }

    @media (max-width: 1020px) {
      width: 15%;
    }

    .logo {
      margin: 10px;
    }

    .links {
      margin: 20px 0px;

      .active-link {
        .link {
          p {
            color: $blue;
          }

          svg {
            fill: $blue;
          }
        }
      }

      .link {
        display: flex;
        align-items: center;
        height: 50px;
        // width: fit-content;
        margin-bottom: 2px;
        border-radius: 25px;
        transition: 0.3s ease-in-out background;
        padding-left: 10px;
        padding-right: 20px;

        &:hover {
          background-color: $lightpurple;
        }

        p {
          margin-left: 15px;
          font-size: 20px;
          color: #fff;
          font-weight: 600;
        }

        svg {
          fill: #ffffff;
        }
      }
    }

    .ripple-btn {
      height: 50px;
      border-radius: 25px;
      font-size: 16px;
      width: clamp(100px, 90%, 300px);
    }

    .tweet-btn {
      display: none;

      @media (max-width: 1230px) {
        display: block;
      }
    }

    .profile {
      width: 100%;
      padding: 0 6px;
      height: 54px;
      border-radius: 27px;
      display: flex;
      justify-content: space-between;
      transition: 0.3s background ease-in-out;
      margin-top: auto;

      @media (max-width: 1230px) {
        width: 40px;
        height: 40px;
        padding: 0;
        align-self: center;

        .left-content {
          .profile-details {
            display: none;
          }
        }

        svg {
          display: none;
        }
      }

      &:hover {
        background-color: $lightpurple;
        cursor: pointer;
      }

      .left-content {
        display: flex;
        align-items: center;

        .profile-image {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        .profile-details {
          margin-left: 10px;

          p {
            font-size: 14px;
          }

          .fullname {
            color: #ffffff;
            font-weight: 700;
          }

          .username {
            color: $grey;
          }
        }
      }

      .chevron {
        margin: auto 0;
      }
    }
  }
}
