@import "../../constants/colors.scss";

.side-menu {
  flex: 1;

  @media (max-width: 600px) {
    display: none;
  }

  .side-menu-content {
    position: fixed;
    width: 22%;
    height: 100vh;
    padding: 20px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 840px) {
      width: 33%;
    }

    .logo {
      margin: 10px;
    }

    .links {
      margin: 20px 0px;

      .active-link {
        .link {
          p {
            color: $blue;
          }

          svg {
            fill: $blue;
          }
        }
      }

      .link {
        display: flex;
        align-items: center;
        height: 50px;
        width: fit-content;
        margin-bottom: 2px;
        border-radius: 25px;
        transition: 0.3s ease-in-out background;
        padding-left: 10px;
        padding-right: 20px;

        &:hover {
          background-color: $lightpurple;
        }

        p {
          margin-left: 15px;
          font-size: 20px;
          color: #fff;
          font-weight: 600;
        }

        svg {
          fill: #ffffff;
        }
      }
    }

    .ripple-btn {
      height: 50px;
      border-radius: 25px;
      font-size: 16px;
      width: clamp(100px, 90%, 300px);
    }

    .profile {
      width: 100%;
      padding: 0 6px;
      height: 54px;
      border-radius: 27px;
      display: flex;
      justify-content: space-between;
      transition: 0.3s background ease-in-out;

      &:hover {
        background-color: $lightpurple;
        cursor: pointer;
      }

      .left-content {
        display: flex;
        align-items: center;

        .profile-image {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        .profile-details {
          margin-left: 10px;
          p {
            font-size: 14px;
          }

          .fullname {
            color: #ffffff;
            font-weight: 700;
          }

          .username {
            color: $grey;
          }
        }
      }
    }
  }
}

.create-tweet-modal {
  padding: 0 10px;
  .create-tweet {
    padding: 10px;
  }
}
